<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <link rel="stylesheet" href="stylesheets/style.css?<%= rand(10) %>" type="text/css" />
  <link rel="stylesheet" href="stylesheets/jquery.autocomplete.css" type="text/css" />
		
  <script type="text/javascript" src="javascripts/jquery-1.3.2.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery.autocomplete.pack.js"></script>

  <title>Sanctionwatch.net</title>
</head>
<body>
  <div id="page-frame">			
    <div id="container">
      <div id="header"><h1><a href="/"
        class="title">SanctionWatch.net</a><span class="version">Prototype</span></h1></div>
      <div id="topnav"></div>
      <div id="content"><%= yield %></div>
      <div id="footer">
        <div class="copyright">
          &copy; 2009 SanctionWatch.net
        </div>
      </div>
    </div>
  </div>
  <%= erb :"_tracking.html", :layout => false %>
</body>
</html>
