
body {
    font-family: "lucida grande", "lucida sans unicode", tahoma, verdana, arial, sans-serif;
    font-size: 10pt;
    color: #444;
}

body {
    background-color: #fff;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* 
   Layout 
*/
div#page-frame {
    background: #fff;
    margin: 0px auto;
    width: 100%;
}

div#container {
    min-height: 400px;
    background: #fff;
    margin: 0 auto;
    padding: 5px 0 0 0;
    width: 790px;
}

div#content {        
    margin: 20px 10px;    
}

/* 
   Header
*/

div#header { 
    padding: 0 0; 
    height: 65px; 
    padding: 10px 0 10px 0; 
    text-align: center; 
}

div#header h1 a { 
    font-size: 30pt; 
    text-decoration: none; 
    color: #000;
}

div#header .version {
    font-size: 10pt;
    color: #999;
}

/*
  Footer
*/

#footer { 
    min-height: 65px; 
    _height: 65px; 
    background: #fff url(../images/pixel.gif) repeat-x; 
    clear: both; 
    margin: 35px auto 0 auto;
}

#footer .copyright {
  font-size: 0.8em;
  padding: 40px 0 0 0;
  text-align: center;
}

/*
  Intro
*/

#intro ul {
    background-color: #DEEEFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* 
   Search Box
*/

#search_box {
    padding: 10px 0 40px 20px;
    font-size: 13pt;
}

#search_box input {
    font-size: 13pt;
}

.example {
    font-size: 10pt;
    font-style: italic;
}

/* 
   Page Navigation
*/

.current_page {
  font-weight:bold;
}

.page {
  font-size:14px;
  padding-left:5px;
}

/*
  Search Results
*/

#results_summary {
  background:#EEEEEE url(../images/pixel.gif) repeat-x scroll 0 0;
  padding-top: 2px;
}

#results_stats {
  padding-top: 5px;
}

.result_info {
  margin: 5px 0px 0px 0px;
}

.result_info p {
  margin: 0px 0px 0px 0px;
}

.result {
    margin: 10px 0px 30px 0px;
}

.result h4{
  margin: 0px 0px 0px 0px;
}

.result .label {
    color: #888888;
}

.result .value {
    font-weight: bold;
}

.result .source {
    font-style: italic;
    color: #888888;
}
.result .source a{
    color: #888888;
    text-decoration: none;
}
.result .source a:hover {
    text-decoration: underline;
}
.result .source a:visited{
    color: #888888;    
}

.result_aka {
  font-style: italic;
}

/*
  Search Result Details
*/

table.details { 
    border-left: 1px solid #E6E6E6; 
    border-right: 1px solid #E6E6E6; 
    border-top:1px solid #E6E6E6;
}

table.details tr td {
    height: 28px; 
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 7px; 
    padding-right: 6px; 
    border-bottom: 1px solid #E6E6E6; 
    border-right: 1px solid #EEEEEE;
}

table.details td.label {
    white-space:nowrap;  
}

#back_to_search {
    margin: 30px 0px 0px 0px;
}

.info {
    font-size: 12pt;
}
